@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*
.color-nav {
    background-color:silver;
}
*/

.color-nav {
    background-color: rgb(205, 230, 208);
}

.navbar-brand {
    font-family: Licorice;
    font-size: 50px;
    text-decoration-thickness: 3px;
    font-weight:bold;
    margin-left: 5px;
}

.nav-link {
    font-size: 18px;
    background-color: rgb(205, 230, 208);
}