
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.Works{
    background-image: url("../../images/undraw_programming2.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 75vh;
}